# Temporary test files.
*.log

# We ignore everything except .in files and this file.
*
!*.in
!.gitignore

# Provide a list of all subdirectories so they aren't ignored:
!/clean
!/init
!/libemu
!/log
!/peek
!/pop
!/push
!/stack
!/verify
