/**
 * http://applemusic.tumblr.com/
 * https://jsfiddle.net/xq56dmrh/
 */

/** Ultra Light */
@font-face {
  font-family: "San Francisco";
  font-weight: 100;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff");
}

/** Thin */
@font-face {
  font-family: "San Francisco";
  font-weight: 200;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff");
}

/** Regular */
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

/** Medium */
@font-face {
  font-family: "San Francisco";
  font-weight: 500;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff");
}

/** Semi Bold */
@font-face {
  font-family: "San Francisco";
  font-weight: 600;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff");
}

/** Bold */
@font-face {
  font-family: "San Francisco";
  font-weight: 700;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff");
}


html {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
    cursor: default;
    min-width: 320px;
}

body {
    padding-top: 120px;
    font-family: "San Francisco","Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #272b30;
    color: #878b90;
}

hr {
    border-color: #3c3c3c
}

code {
    color: #2D2E31;
    background: none;
}

h1 {
    font-size: 22px;
    margin-top: 10px;
    font-weight: 700;
    text-align: center;
}

.header {
    text-align: center;
    background: #e4e1e4; /* Old browsers */
    background: -moz-linear-gradient(top, #e4e1e4 0%, #c8c5c8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #e4e1e4 0%,#c8c5c8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #e4e1e4 0%,#c8c5c8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4e1e4', endColorstr='#c8c5c8',GradientType=0 ); /* IE6-9 */
    min-height: 80px;
    border-bottom: 1px solid #B8B6B9;
}
.header h1 {
    font-size: 14px;
    color: #3F3F3F;
}
.header h1 i.fa {
    /* color: #a11; */
    margin-right: .3em;
}
.header p {
    margin: 20px 0 5px 0;
    color: #3F3F3F;
}

.headline {
  text-align: center;
  margin-bottom: 1.2em;
  color: #2D2E31;
  font-weight: 7000;
}

.sinks h1 {
    margin-bottom: 1.2em;
}
.sinks .progress {
    height: 14px;
    margin-bottom: .4em;
    background-color: #3c3c3c;
}
.sinks .progress-bar {
    background-color: #FA8E4B;
}
.sinks p {
    margin-bottom: 1.5em;
}

.footer {
  margin-top: 60px;
  margin-bottom: 40px;
}
.footer p {
  font-size: 14px;
  margin: 2em;
}
.footer p i.fa-heart {
  color: #e33;
}
.footer p a {
  color: #878b90;
}
.footer p a:hover {
  color: #e33;
  text-decoration: none;
}

/* -----------------------------------------------
 * Timeline
 * --------------------------------------------- */
 .timeline {
  list-style: none;
  padding: 10px 0;
  position: relative;
  margin-top: 50px;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content:" ";
  width: 1px;
  background: #666;
  left: 50%;
  margin-left: -1.5px;
}
.timeline > li {
    position: relative;
    width: 50%;
    float: left;
    clear: left;
    margin-bottom: 5px;
}
.timeline > li:first-child {
    margin-top: -30px;
}
.timeline > li:before, .timeline > li:after {
    content:" ";
    display: table;
}
.timeline > li:after {
    clear: both;
}
.timeline > li:before, .timeline > li:after {
    content:" ";
    display: table;
}
.timeline > li:after {
    clear: both;
}
.timeline > li > .timeline-panel {
    width: calc(100% - 25px);
    width: -moz-calc(100% - 25px);
    width: -webkit-calc(100% - 25px);
    float: left;
    background: #3c3c3c;
    position: relative;
    text-align: right;
}
.timeline > li > .timeline-panel:before {
    position: absolute;
    top: 0;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-bottom: 14px solid transparent;
    border-left: 15px solid #3c3c3c;
    border-right: 0 solid #3c3c3c;
    content:" ";
}
.timeline > li > .timeline-panel:after {
    position: absolute;
    top: 0;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-bottom: 14px solid transparent;
    border-left: 14px solid #3c3c3c;
    border-right: 0 solid #3c3c3c;
    content:" ";
}
.timeline > li > .timeline-badge {
    color: #3c3c3c;
    width: 24px;
    height: 24px;
    line-height: 50px;
    text-align: center;
    position: absolute;
    top: -10px;
    right: -12px;
    z-index: 100;
    font-size: 10px;
}
.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    text-align: left;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}
.timeline-badge > a {
    color: #666 !important;
}
.timeline-badge a:hover {
    color: #666 !important;
}
.timeline-title {
    margin-top: 0;
    color: inherit;
}
.timeline-heading h4 {
    font-size: 14px;
    font-weight: 400;
    padding: 0 15px;
    white-space: nowrap;
    margin: 6px 0;
    height: 16px;
}
.timeline > li.timeline-inverted {
    float: right;
    clear: right;
}
.timeline > li.timeline-inverted > .timeline-badge {
    left: -12px;
}
.no-float {
    float: none !important;
}
@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }
    ul.timeline > li {
        margin-bottom: 0px;
        position: relative;
        width:100%;
        float: left;
        clear: left;
    }
    ul.timeline > li:first-child {
        margin-top: -30px;
    }
    ul.timeline > li > .timeline-panel {
        width: calc(100% - 65px);
        width: -moz-calc(100% - 65px);
        width: -webkit-calc(100% - 65px);
        text-align: left;
    }
    ul.timeline > li > .timeline-badge {
        left: 28px;
        margin-left: 0;
    }
    ul.timeline > li > .timeline-panel {
        float: right;
    }
    ul.timeline > li > .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
    }
    ul.timeline > li > .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
    }
    .timeline > li.timeline-inverted {
        float: left;
        clear: left;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .timeline > li.timeline-inverted > .timeline-badge {
        left: 28px;
    }
}
/* Now */
.timeline > li.now > .timeline-panel {
    color: #FA8E4B;
/*    background: #FA8E4B;*/
}
.timeline > li.now > .timeline-panel:after {
 /*   border-left-color: #FA8E4B;
    border-right-color: #FA8E4B;*/
}
.timeline > li.now h4 {
    font-weight: 700;
}
